<div class="col-md-12">
  <div class="actions">
    <h2 class="d-inline-block">{{title}}</h2>
    <input type="button" value="Editar" class="btn btn-sm mb-3 ml-5">
  </div>
	<hr/>

  <div class="row">
    <div class="col-centrada loader" *ngIf="status == null">
      <img src="assets/images/loader.gif" />
    </div>
  </div>

  <div *ngIf="status != null">
  	<div *ngIf="status!='edit'">
      <div class="text-center">
        <span><img class="club-logo" default="{{defaultClubLogo}}" src="http://localhost:8080/SymApp/symfony/web/uploads/users/{{club.image}}" /></span>
    		<h1 class="display-2">{{club.name}}</h1>
        <h5 class="font-weight-light">{{club.description}}</h5>
      </div>
  		<hr/>
  		<p>{{club.origin}}</p>
  	</div>

  		<!-- <div *ngIf="status=='edit'">
  			<form #updateClubForm="ngForm" (ngSubmit)="onSubmitEdit()">
  				<span><img src="http://localhost:8080/SymApp/symfony/web/uploads/users/{{club.image}}" /></span>
  				<h1>{{club.name}}</h1>
  				<hr/>
  				<p>
  					<input type="text" class="form-control" #description="ngForm" ngControl="description" [(ngModel)]="club.description" required/>
  					</p>
  				<h3>{{club.origin}}</h3>
  				<input type="submit" value="Actualizar" class="btn btn-success">
  				<input type="button" value="Cancelar" class="btn btn-danger" (click)="status=success">
  			</form>
  		</div> -->

    <br><br><br>
    <div class="row">
    <div class="col-md-4">
      <h5>Equipos</h5>
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let team of teamsList" (click)="goTeam(team)">
            <td scope="row" class="w-75">{{team.name}}</td>
            <td>{{team.id}}</td>
          </tr>
          <p *ngIf="!teamsList">No existen Equipos.</p>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h5>Entrenadores</h5>
      <app-user-list
        [role]="'user'"></app-user-list>
    </div>
    <div class="col-md-4">
      <h5>Jugadores</h5>
      <app-user-list
        [role]="'player'"></app-user-list>
    </div>

  </div>

</div>
