<div class="container">

  <hr/>
  <h3>Crear nuevo entrenamiento</h3>
  <hr/>

  <div class="alert alert-success mb-2" *ngIf="status=='success'">
    El entrenamiento {{work.name}} a sido creado con exito!    
  </div>

  <div class="alert alert-danger mb-2" *ngIf="status=='error'">
    No ha sido posible crear al nuevo entrenamiento, corriga los errores.
  </div>

  <form #newWorkForm="ngForm" (ngSubmit)="onSubmit(newWorkForm)" *ngIf="status!='success'" class="row p-2">

    <div class="col-md-6 p-2">   

      <div class="form-row">    

        <div class="form-group col-md-9">
          <label for="name">Nombre</label>
          <input type="text" name="name" #name="ngModel" [(ngModel)]="work.name" placeholder="nombre" class="form-control input" required />
          <div *ngIf="name.invalid && (name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">Nombre requerido</div>
          </div>
          <div *ngIf="errors && errors.name" class="alert alert-danger">
            <span *ngFor="let error of errors.name">
              {{error.value}}
            </span>
          </div>
        </div>
        
        <div class="form-group col-md-3">
          <label for="time">Duración</label>
          <input type="text" name="time" #time="ngModel" [(ngModel)]="work.time" placeholder="minutos" class="form-control input" required/>
          <div *ngIf="time.invalid && (time.touched)" class="alert alert-danger">
            <div *ngIf="time.errors.required">Requerido</div>
          </div>
        </div>

      </div> 

      <div class="form-group">
        <label for="description">Descripción</label>
        <input type="text" name="description" #description="ngModel" [(ngModel)]="work.description" placeholder="descripción corta" class="form-control input" required/>
        <div *ngIf="description.invalid && (description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors.required">Descripción requerida</div>
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="category">Tipo</label>
        <input type="text" name="category" #category="ngModel" [(ngModel)]="work.category" placeholder="categoria" class="form-control input" required/>
        <div *ngIf="category.invalid && (category.touched)" class="alert alert-danger">
          <div *ngIf="category.errors.required">Tipo requerido</div>
        </div>
      </div> -->

      <div class="form-group">
        <label for="body">Rutina</label>
        <textarea name="body" #body="ngModel" [(ngModel)]="work.body" class="form-control" rows=8 required></textarea>
        <div *ngIf="body.invalid && (body.touched)" class="alert alert-danger">
          <div *ngIf="body.errors.required">Rutina requerida</div>
        </div>      
      </div>

    </div>

    <div class="col-md-6 p-2">
      <div class="form-group bg-light p-2 mt-2" style="height: 130px;">
        <strong>Imagenes</strong>

      </div>
      <div class="form-group bg-light p-2 mt-2" style="height: 130px;">
        <strong>Videos</strong>
        
      </div>
    </div>

    <input id="btnSubmit" [disabled]="!newWorkForm.form.valid" type="submit" value="Crear" class="form-group btn-lg btn-outline-success col-centrada">

  </form> 

  <div *ngIf="status==='success'">
    <button class="btn btn-primary" (click)="ngOnInit()">Crear nuevo</button>    
    <a class="btn btn-secondary ml-2" [routerLink]="['/works', work.id]">Ver ultimo</a>
    <a class="btn btn-secondary ml-2" [routerLink]="['/works']">Lista de entrenamientos</a>
  </div>

</div>
