<div class="col-md-12">

  <div class="jumbotron col-md-6 col-centrada" id="jum">

    <!-- Mensaje de inicio -->
    <div *ngIf="step === 'start'">
      <h1 class="display-3">Registrarse</h1>
      <hr class="my-2">
      <p class="lead">A continuación comenzara el proceso de registro, son pasos rapidos y faciles :)</p>
      <button class="btn btn-primary btn-lg" type="button" name="btnStepStart" (click)="step='club'">Comenzar</button>
    </div>

    <!-- Formulario de Club -->
    <div class="" *ngIf="step === 'club'">
      <h1 class="display-3">Club</h1>
      <p>Comenzaremos con los datos del club, recuerda no debe ser un nombre ya existente.</p>
      <hr class="my-2">

      <div class="align-middle">
  			<form #clubForm="ngForm" (ngSubmit)="onSubmitClub()">
  				<div class="form-group">
  					<label for="clubName">Nombre del club</label>
  					<input type="text" name="clubName" #clubName="ngModel" [(ngModel)]="club.name" placeholder="Ej: Club deportivo Colo-Colo" class="form-control" required/>
  				</div>
          <div class="form-group">
  					<label for="clubAlias">Nombre corto</label>
  					<input type="text" class="form-control" name="clubAlias" #clubAlias="ngModel" [(ngModel)]="club.alias" placeholder="Ej: Colo-Colo" required/>
  				</div>
          <div class="form-group">
  					<label for="clubDescription">Breve descripción</label>
  					<input type="text" class="form-control" name="clubDescription" #clubDescription="ngModel" [(ngModel)]="club.description" placeholder="Ej: Club profesional por hinchas albos" required/>
  				</div>
          <div class="form-group">
  					<label for="clubOrigin">País</label>
  					<input type="text" class="form-control" name="clubOrigin" #clubOrigin="ngModel" [(ngModel)]="club.origin" placeholder="Ej: Chile" required/>
  				</div>
          <div class="form-group">
  					<label for="clubCity">Ciudad</label>
  					<input type="text" class="form-control" name="clubCity" #clubCity="ngModel" [(ngModel)]="club.city" placeholder="Ej: Santiago" required/>
  				</div>
          <!-- <div class="form-group media">
            <img class="d-flex mr-3">
            <div class="media-body">
            <label for="clubImage">Imagen</label>
  					<input type="file" class="form-control-file" name="clubImage" #clubImage="ngModel" [(ngModel)]="club.image" placeholder="Ej: Chile" required/>
            </div>
          </div> -->
          <br>
  				<input type="submit" value="Continuar" class="btn btn-primary btn-lg" [disabled]="!clubForm.form.valid">

          <br>
          <p class="text-muted">*Todos los campos son obligatorios.</p>
  			</form>
		  </div>
    </div>

    <!-- Formulario de Usuario -->
    <div class="" *ngIf="step === 'user'">
      <h1 class="display-3">Usuario</h1>
      <p>Ahora que creamos el club, falta el primer usuario en registrarse.</p>
      <hr class="my-2">

      <div class="align-middle">
  			<form #userForm="ngForm" (ngSubmit)="onSubmitUser()">
  				<div class="form-group">
  					<label for="userName">Nombre</label>
  					<input type="text" name="userName" #userName="ngModel" [(ngModel)]="user.name" placeholder="Ej: Diego" class="form-control" required/>
  				</div>
          <div class="form-group">
  					<label for="userLastname">Apellido</label>
  					<input type="text" class="form-control" name="userLastname" #userLastname="ngModel" [(ngModel)]="user.lastname" placeholder="Ej: González" required/>
  				</div>
          <div class="form-group">
  					<label for="userEmail">Email</label>
  					<input type="email" class="form-control" name="userEmail" #userEmail="ngModel" [(ngModel)]="user.email" placeholder="Ej: diegogonzalez@correo.com" required/>
  				</div>
          <div class="form-group">
  					<label for="userPassword">Contraseña</label>
  					<input type="password" class="form-control" name="userPassword" #userPassword="ngModel" [(ngModel)]="user.password" placeholder="Ej: Chile" required/>
  				</div>

          <button type="button" class="btn btn-lg"(click)="step='club'" style="margin-right: 5px">Atras</button>
  				<input type="submit" value="Terminar" class="btn btn-primary btn-lg" [disabled]="!userForm.form.valid">

          <br>
          <strong>*Todos los campos son obligatorios.</strong>
  			</form>
		  </div>
    </div>

    <!-- Mensaje de confirmacion -->
    <div *ngIf="step === 'confirm'">
      <h1 class="display-3">{{club.name}}</h1>
      <h3 >{{user.name}} {{user.lastname}}</h3>
      <h4>{{user.email}}</h4>

      <hr class="my-2">
      <p class="lead">Es hora de comenzar confirma el registro para ir a la aplicación.</p>
      <button id="btnAtras" type="button" class="btn btn-lg"(click)="step='user'" style="margin-right: 5px">Atras</button>
      <button id="btnReg" class="btn btn-success btn-lg" type="button" name="btnStepEnd" (click)="regUser()">Aceptar</button>
    </div>

    <!-- Mensaje de correo -->
    <div *ngIf="step === 'success'">
      <h1 class="display-3">Registro completado</h1>

      <hr class="my-2">
      <p class="lead">Revisa tu correo para validar tus datos</p>
      <a class="btn btn-success btn-lg" [routerLink]="['/login']">Iniciar sesión</a>
    </div>

    <!-- Mensaje de error -->
    <div *ngIf="step === 'error'">
      <h1 class="display-3">Error</h1>

      <hr class="my-2">      
      <p class="lead">Revisa los datos</p>

      <div *ngIf="userErrors" class="bg-danger">
          <p>Usuario</p>
          <p *ngFor="let error of userErrors | keyvalue">
            {{ error.key }}: {{ error.value }}
          </p>
      </div>

      <div *ngIf="clubErrors" class="bg-danger">
        <p>Club</p>
        <ul>
          <li *ngFor="let error of clubErrors | keyvalue">
            {{ error.key }}: {{ error.value }}
          </li>
        </ul>
      </div>

      <button type="button" class="btn btn-lg"(click)="step='club'" style="margin-right: 5px">Atras</button>
    </div>

  </div>

</div>
