<div class="col-md-12">
	<hr/>
	<h3>{{title}}</h3>
	<hr/>

	<!-- Formulario nuevo Jugador -->

  <div class="lead">
    <p>
      Al completar el registro, se le enviara un correo de invitación al jugador.<br>
      De esta forma podra estar conectado con el equipo!<br>
      <span class="small">* Recuerda, que aunque no acepte la invitacion, aun asi podras usar al jugador en planilla
      (pero este no participara de las funciones sociales).</span>
    </p>
  </div>

  <hr>

  <div class="alert alert-success mb-4" *ngIf="message=='success'">
    {{user.name}} a sido registrado con exito, se le envio un correo de confirmacion!.
  </div>

  <div class="alert alert-danger" *ngIf="message=='error'">
    No ha sido posible registrar al jugador, refresca la pagina y vuelve a intentarlo.
  </div>

	<form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)" class="col-md-4">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control input" required />
      <div *ngIf="name.invalid && (name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">Nombre requerido</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastname">Apellido</label>
      <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname" class="form-control input" required />
      <div *ngIf="lastname.invalid && (lastname.touched)" class="alert alert-danger">
        <div *ngIf="lastname.errors.required">Apellido requerido</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Correo</label>
      <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control input" required email />
      <div *ngIf="email.invalid && (email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">Email requerido</div>
        <div *ngIf="email.errors.email">Formato incorrecto</div>
      </div>
    </div>

    <div class="form-group">
      <label for="run">Rut</label>
      <input type="text" name="run" #run="ngModel" [(ngModel)]="user.run" class="form-control input" required />
      <div *ngIf="run.invalid && (run.touched)" class="alert alert-danger">
        <div *ngIf="run.errors.required">Rut requerido</div>
      </div>
    </div>

		<div class="form-group">
      <label for="team">Equipo</label>
			<select id="team" class="form-control" [disabled]="!teamsList" [(ngModel)]="user.teams" name="team">
				<option *ngFor="let team of teamsList" [ngValue]="team.id">{{team.name}}</option>
		  </select>
    </div>

		<input id="btnSubmit" [disabled]="!newUserForm.form.valid" type="submit" value="Agregar" class="form-group btn btn-success">
		<input type="button" value="Limpiar" class="form-group ml-3 btn" (click)="newUserForm.reset()">
	</form>

</div>
