<div class="container">
  <hr/>
  <h3>{{title}}</h3>
  <hr/>

  <div class="lead">
    <p>

    </p>
  </div>

  <div class="alert alert-success mb-4" *ngIf="status=='success'">
    Equipo {{team.name}} a sido creado con exito!
  </div>

  <div class="alert alert-danger" *ngIf="status=='error'">
    No ha sido posible crear al nuevo equipo, refresca la pagina y vuelve a intentarlo.
  </div>

  <form #newTeamForm="ngForm" (ngSubmit)="onSubmit(newTeamForm)" class="col-md-4 p-0">
    <div class="form-group">
      <img class="img-thumbnail" src="assets/images/team-default.png" /><br>
      <!-- <label for="image">Imagen</label> -->
      <!-- <input name="image" type="file" (change)="fileChangeEvent($event)" placeholder="Subir imagen..." /> -->
    </div>

    <div class="form-group">
      <label for="name">Nombre del equipo</label>
      <input (change)="checkName()" type="text" name="name" #name="ngModel" [(ngModel)]="team.name" class="form-control input" required />
      <div *ngIf="name.invalid && (name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">Nombre requerido</div>
      </div>
      <div class="alert alert-danger" *ngIf="validName===false">Este nombre ya esta en uso</div>
    </div>

    <div class="form-group">
      <label for="description">Desripción</label>
      <input type="text" name="description" #description="ngModel" [(ngModel)]="team.description" class="form-control input" />
    </div>

    <!-- <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control" (change)="callTeamStatus(teamStatus.value)" #teamStatus >
				<option value="private" [attr.selected]="team.status === 'private' ? 'selected' : null " >Privado</option>
				<option value="public" [attr.selected]="team.status === 'public' ? 'selected' : null " >Público</option>
			</select>
    </div> -->

    <input id="btnSubmit" [disabled]="!newTeamForm.form.valid" type="submit" value="Crear" class="form-group btn btn-success">

  </form>
</div>
