<div class="border p-3" *ngIf="action!='list'">
  <h5>Equipos</h5>
  <hr *ngIf="loading">
  <div class="loader-dots" *ngIf="loading">
    <img src="assets/images/loader-dots.gif" />
  </div>
  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let team of teamList" (click)="toTeam(team)" >
        <td scope="row" class="w-75">{{team.name}}</td>
        <td>{{team.id}}</td>
      </tr>
      <i *ngIf="status=='error'">No existen resultados.</i>
    </tbody>
  </table>
</div>

<div class="mt-3" *ngIf="action==='list' && !send">
  <div class="row m-0">
      <div class="col-md-9 p-0">
        <select class="custom-select" [disabled]="!teamList" id="team-select" (change)="changeTeam()">
          <option *ngFor="let team of teamList" value="{{team.id}}">{{team.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-success btn-ms" (click)="selectTeam()">+</button>
      </div>
  </div>
</div>
