<div class="container">

    <hr/>
    <h3>Editar entrenamiento</h3>
    <hr/>
  
    <div class="alert alert-danger mb-2" *ngIf="status=='error'">
      No ha sido posible actualizar el entrenamiento, corriga los errores.
    </div>
  
    <form #editWorkForm="ngForm" (ngSubmit)="onSubmit(editWorkForm)" *ngIf="status!='success'" class="row p-2">
  
      <div class="col-md-6 p-2">   
  
        <div class="form-row">    
  
          <div class="form-group col-md-9">
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="work.name" placeholder="nombre" class="form-control input" required />
            <div *ngIf="name.invalid && (name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">Nombre requerido</div>
            </div>
            <div *ngIf="errors && errors.name" class="alert alert-danger">
              <span *ngFor="let error of errors.name">
                {{error}}
              </span>
            </div>
          </div>
          
          <div class="form-group col-md-3">
            <label for="time">Duración</label>
            <input type="text" name="time" #time="ngModel" [(ngModel)]="work.time" placeholder="minutos" class="form-control input" required/>
            <div *ngIf="time.invalid && (time.touched)" class="alert alert-danger">
              <div *ngIf="time.errors.required">Requerido</div>
            </div>
          </div>
  
        </div> 
  
        <div class="form-group">
          <label for="description">Descripción</label>
          <input type="text" name="description" #description="ngModel" [(ngModel)]="work.description" placeholder="descripción corta" class="form-control input" required/>
          <div *ngIf="description.invalid && (description.touched)" class="alert alert-danger">
            <div *ngIf="description.errors.required">Descripción requerida</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="body">Rutina</label>
          <textarea name="body" #body="ngModel" [(ngModel)]="work.body" class="form-control" rows=8 required></textarea>
          <div *ngIf="body.invalid && (body.touched)" class="alert alert-danger">
            <div *ngIf="body.errors.required">Rutina requerida</div>
          </div>      
        </div>
  
      </div>
  
      <div class="col-md-6 p-2">
        <div class="form-group bg-light p-2 mt-2" style="height: 130px;">
          <strong>Imagenes</strong>
  
        </div>
        <div class="form-group bg-light p-2 mt-2" style="height: 130px;">
          <strong>Videos</strong>
          
        </div>
      </div>
        <div class="col-md-12 p-2 text-center">
        <input id="btnSubmit" [disabled]="!editWorkForm.form.valid" type="submit" value="Actualizar" class="form-group btn-lg btn-outline-success">
        <a class="ml-4" [routerLink]="['/works',work.id]">Cancelar</a>
      </div>        
      
    </form> 
  
  </div>
  