<div class="border p-3">
  <h5 class="p-1">{{title}}</h5>
  <hr *ngIf="loading">
  <div class="loader-dots" *ngIf="loading">
    <img src="assets/images/loader-dots.gif" />
  </div>
  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let user of userList" (click)="toUser(user.id)" >
        <td scope="row" class="w-75">{{user.name}} {{user.lastname}}</td>
        <td>{{user.run}}</td>
      </tr>
      <i *ngIf="status=='error'">No existen resultados.</i>
    </tbody>
  </table>
</div>
