<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top justify-content-between">
	<div class="container">
		<a class="navbar-brand" routerLink="/index" (click)="clickItem()">
			<span class="navbar-text">
				<img src="./assets/images/logo-96.png" height="32" />
				ClubApp
			</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarApp" aria-controls="navbarApp" aria-expanded="false" aria-label="Toggle navigation">
  		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarApp">
			<ul class="nav navbar-nav" *ngIf="identity && identity.id">
				<li class="nav-item"><a class="nav-link active" [routerLink]="['/index']">Inicio</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['/works']">Entrenamientos</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['/player-list']">Jugadores</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['/team-list']">Equipos</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['/user-list']">Personal</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['/index']">Fechas</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['/index']">Tablas</a></li>

				<span  class="form-inline float-right ml-5" *ngIf="identity && identity.id">
				<li class="nav-item" >
					<a [routerLink]="['/user/edit']" class="nav-link user-image">
						<img src="http://localhost:80/laravel/public/storage/images/users/avatars/{{identity.image}}" default="{{userDefaultImage}}"/>
					</a>
				</li>

				<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							{{identity.name}} {{identity.lastname}}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" [routerLink]="['/works/new']"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Nuevo Entrenamieno</a>
							<a class="dropdown-item" [routerLink]="['./user/new', 'player']"><span class="glyphicon glyphicon-education" aria-hidden="true"></span>  Nuevo Jugador</a>
							<a class="dropdown-item" [routerLink]="['./user/new', 'user']" ><span class="glyphicon glyphicon-education" aria-hidden="true"></span>  Nuevo Entrenador</a>
							<a class="dropdown-item" [routerLink]="['./team/new']"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>  Nuevo Equipo</a>
							<a class="dropdown-item disabled" [routerLink]="['/index']"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>  Calendario</a>
							<a class="dropdown-item disabled" [routerLink]="['/index']"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>  Tablero</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" [routerLink]="['/club', identity.club.name]"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Club</a>
							<a class="dropdown-item" [routerLink]="['user/edit', 0]"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Ajustes</a>
							<a class="dropdown-item" [routerLink]="['/login/', 1]"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>  Cerrar Sesion</a>
						</div>
					</li>
				</span>
			</ul>
			<ul (click)="clickItem()" class="navbar-nav mr-auto" *ngIf="!identity">
				<li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Acceder</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="['/register']">Registrarse</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="clear-fix"></div>

<section class="main">
	<router-outlet></router-outlet>
	<div class="clear-fix"></div>
</section>

<div class="navbar sticky-bottom pb-5 mt-5">
	<div class="container">
		¶ Realizado por Nicolás Leporati ♪ &copy; nico.leporati@gmail.com
	</div>
</div>
