<div class="container">

  <div class="row">
    <div class="col-centrada loader" *ngIf="!work">
      <img src="assets/images/loader.gif" />
    </div>
  </div>

  <div *ngIf="work && status!='deleted'" class="col-md-12">
    <p><strong><a routerLink="/works">Entrenamientos</a></strong> | {{work.name}}</p>
    <hr>
    <div class="d-inline">      
      <h1 class="d-inline-block">Entrenamiento: {{work.name}}</h1>
      <span>
        <button class="float-right btn btn-sm btn-danger" (click)="onDelete()">Eliminar</button>        
        <a class="float-right btn btn-sm btn-success mr-2" routerLink="edit">Editar</a>
        <button class="float-right btn btn-sm btn-primary mr-2">Compartir</button>        
      </span>   
    </div>
    <p><strong>Duración:</strong> {{work.time}} minutos | <strong>Tipo:</strong> No definido</p>
    <p>{{work.description}}</p>
    <hr>

    <!-- <textarea rows="8" readonly>{{work.body}}</textarea> -->
    <div class="form-group">
      <label for="body">Rutina</label>
      <textarea rows="8" readonly class="form-control bg-light">{{work.body}}</textarea>
    </div>

    <div class="row">
      
      <div class="form-group col-md-6">
        <label for="body">Imagenes</label>
        <div *ngIf="images">
          <div *ngFor="let image of images" class="d-inline">
            <img src="{{storage}}{{image.uri}}" class="img-thumbnail"/>
          </div>          
        </div>
        <p *ngIf="!images">El entrenamiento no tiene imagenes.</p>
        
      </div>

      <div class="form-group col-md-6">
        <label for="body">Videos</label> 
        <div *ngIf="videos">
          <div *ngFor="let video of videos" class="d-inline">
            <img src="{{storage}}{{video.uri}}" class="img-thumbnail"/>
          </div>
        </div>
        <p *ngIf="!videos">El entrenamiento no tiene videos.</p>             
          
        </div>
    </div>

  </div>

  <div *ngIf="status=='deleted'">
    <div class="alert alert-success mb-4" >
      {{work.name}} a sido eliminado con exito.
    </div>
    <a [routerLink]="['/works']">Ver lista de Entrenamientos</a>
  </div>

</div>
