<div class="col-md-12">
  <div class="col-md-4 col-centrada">
    <h1 class="display-5">Iniciar Sesión</h1>
    <hr class="my-2">
    <form #loginForm="ngForm" (ngSubmit)="onSubmitLogin()">
      <div class="form-group">
        <label for="email">Correo</label>
        <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required email />
        <div *ngIf="email.invalid && (email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">Email requerido</div>
          <div *ngIf="email.errors.email">Formato incorrecto</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
        <div *ngIf="password.invalid && (password.touched || password.dirty)" class="alert alert-danger">
          <div *ngIf="password.errors.required">Contraseña requerida</div>
          <!-- <div *ngIf="password.errors.minlength">4</div> -->
        </div>
      </div>      

      <div class="user-identity alert alert-danger" *ngIf="status=='error'">
        Error, email o contraseña no son validos.
      </div>

      <div class="user-identity alert alert-success" *ngIf="status=='success'">
    			Iniciando sesión...
  		</div>

      <input type="submit" value="Enviar" class="btn btn-primary" id="btnLogin" [disabled]="!loginForm.form.valid">
    </form>
  </div>
</div>
