<div class="col-md-12">
  <div class="col-md-4 col-centrada">
    <h1 class="display-5">Iniciar Sesión</h1>
    <hr class="my-2">
    <form novalidate (ngSubmit)="onSubmitLogin()" [formGroup]="login">
      <div class="form-group">
        <label for="email">Correo</label>
        <input type="text" name="email" [(ngModel)]="user.email" class="form-control" formControlName="email" email/>
        <div [hidden]="(login.controls.email.valid || login.controls.email.pristine)
        || login.controls.email.untouched" class="alert alert-danger">
          Email requerido
        </div>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" name="password" [(ngModel)]="user.password" class="form-control" formControlName="password"/>
        <!-- <div [hidden]="(login.controls.password.valid || login.controls.password.pristine)
        || login.controls.password.untouched" class="alert alert-danger">
          <p>Contraseña requerida</p>
        </div> -->
        <div [hidden]="login.controls.password.untouched" class="alert alert-danger">
          <p [hidden]="(login.controls.password.valid || login.controls.password.pristine)">Contraseña requerida</p>
          <!-- <p [hidden]="password">Minimo 8 caracteres</p> -->
        </div>
      </div>

      <div class="user-identity alert alert-danger" *ngIf="status=='error'">
        Error, email o contraseña no son validos.
      </div>

      <div class="user-identity alert alert-success" *ngIf="status=='success'">
    			Iniciando sesión...
  		</div>

      <input type="submit" [disabled]="login.invalid" value="Enviar" class="btn btn-primary" id="btnLogin">
    </form>
  </div>
</div>
