<div class="">
  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let user of userList">
        <td scope="row" class="w-75">{{user.name}} {{user.lastname}}</td>
        <td>{{user.run}}</td>
      </tr>
      <p *ngIf="!userList">No se encontraron resultados.</p>
    </tbody>
  </table>
</div>
