<div class="container">
  <hr>
  <div class="d-inline">
    <strong class="d-inline-block">{{title}}</strong>
    <div class="float-right">
      <input type="button" value="Editar" class="btn btn-success btn-sm mr-2" (click)="setEdit()">
    </div>
  </div>
	<hr/>

  <div class="row">
    <div class="col-centrada loader" *ngIf="status == null">
      <img src="assets/images/loader.gif" />
    </div>
  </div>

  <div *ngIf="status != null">
  	<div *ngIf="status!='edit'">
      <div class="text-center">
        <span><img class="img-thumbnail club-logo" src="http://localhost:8080/SymApp/symfony/web/uploads/users/{{club.image}}" default="{{defaultClubLogo}}"/></span>
    		<h1 class="display-2">{{club.name}}</h1>
        <h5 class="font-weight-light">{{club.description}}</h5>
      </div>
  		<hr/>
  		<p>{{club.origin}}</p>
  	</div>

  		<!-- <div *ngIf="status=='edit'">
  			<form #updateClubForm="ngForm" (ngSubmit)="onSubmitEdit()">
  				<span><img src="http://localhost:8080/SymApp/symfony/web/uploads/users/{{club.image}}" /></span>
  				<h1>{{club.name}}</h1>
  				<hr/>
  				<p>
  					<input type="text" class="form-control" #description="ngForm" ngControl="description" [(ngModel)]="club.description" required/>
  					</p>
  				<h3>{{club.origin}}</h3>
  				<input type="submit" value="Actualizar" class="btn btn-success">
  				<input type="button" value="Cancelar" class="btn btn-danger" (click)="status=success">
  			</form>
  		</div> -->

    <br><br><br><hr>
    <div class="row">
    <!-- <div class="col-md-4">
      <h5>Equipos</h5>
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let team of teamsList" (click)="goTeam(team)">
            <td scope="row" class="w-75">{{team.name}}</td>
            <td>{{team.id}}</td>
          </tr>
          <p *ngIf="!teamsList">No existen Equipos.</p>
        </tbody>
      </table>
    </div> -->
    <div class="col-md-4">
      <app-team-table></app-team-table>
    </div>
    <div class="col-md-4">
      <app-user-table [role]="'user'" [title]="'Entrenadores'"></app-user-table>
    </div>
    <div class="col-md-4">
      <app-user-table [role]="'player'" [title]="'Jugadores'"></app-user-table>
    </div>

  </div>

</div>
