<div class="container">

<div class="row" *ngIf="loading == 'show'">
  <div class="col-md-12 col-centrada loader">
    <img src="assets/images/loader.gif" />
  </div>
</div>

<div class="alert alert-success" *ngIf="status=='success'">
  Se han modificado los datos correctamente.
</div>

<div class="alert alert-danger" *ngIf="status=='error'">
  No ha sido posible modificar los datos, refresca la pagina y vuelve a intentarlo.
  <div *ngIf="userErrors != null">
    <p *ngFor="let error of userErrors | keyvalue">
      {{error.key}}: {{error.value}}
    </p>
  </div>
</div>

<div class="alert alert-danger" *ngIf="status=='duplicated-email'">
  El email ingresado ya esta en uso.
</div>

<div class="row">

<form class="col-md-6" #updateUserForm="ngForm" (ngSubmit)="updateUser()" *ngIf="loading == 'hidden'">

    <!-- Datos de usuario -->
		<div class="">
			<br/><h4 style="background-color: #e2e6e9; border-radius: 3px; padding: 8px">Datos de usuario</h4>

      <div class="">
				<span><img class="img-thumbnail" default="{{userDefaultImage}}" src="{{storage}}{{user.image}}" /><h4>Imagen de perfil</h4></span>
				<p>
					<input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)" />
				</p>
				<div class="progress" style="display: none" id="bar">
					<div id="upload-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
					</div>
				</div>
			</div>

      <div class="form-group">
        <label for="email">Correo</label>
        <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control input" required email />
        <div *ngIf="email.invalid && (email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">Email requerido</div>
          <div *ngIf="email.errors.email">Formato incorrecto</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="newPassword" class="form-control" disabled />
        <div *ngIf="password.invalid && (password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">Contraseña requerido</div>
        </div>
        <input type="checkbox" id="pass-check" (click)="changePassword()"> Cambiar contraseña
      </div>

      <!-- Datos personales -->
      <br/>
			<h4 style="background-color: #e2e6e9; border-radius: 3px; padding: 8px">Datos personales</h4>

      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
        <div *ngIf="name.invalid && (name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">Nombre requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">Apellido</label>
        <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname" class="form-control" required />
        <div *ngIf="lastname.invalid && (lastname.touched)" class="alert alert-danger">
          <div *ngIf="lastname.errors.required">Apellido requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label for="run">Rut</label>
        <input type="text" name="run" #run="ngModel" [(ngModel)]="user.run" class="form-control" />
      </div>

      <div class="form-group">
        <label for="birthDate">Fecha de nacimiento</label>
        <input type="date" name="birthDate" #birthDate="ngModel" [(ngModel)]="user.birthDate" class="form-control" disabled/>
      </div>

      <div class="form-group">
        <label for="nacionality">Nacionalidad</label>
        <input type="text" name="nacionality" #nacionality="ngModel" [(ngModel)]="user.nacionality" class="form-control" />
      </div>
    </div>

    <input type="submit" value="Actualizar" class="btn btn-success">
  </form>

  <!-- Datos deportivos -->
  <div class="col-md-6">
    <br/><h4 style="background-color: #e2e6e9; border-radius: 3px; padding: 8px">Datos deportivos</h4>

    <div class="form-group">
      <label for="teams">Equipos</label>
      <!-- <div class="list-group" *ngIf="user.teams.length>=0"> -->
        <span *ngFor="let team of user.teams" class="list-group-item list-group-item-action">
          <a [routerLink]="['/team', team.id]" [queryParams]="{name:team.name}" class="text-dark">
            {{team.name}}
          </a>
          <span class="float-right">
            <img src="assets/images/delete.png" alt="eliminar" style="width:24px;height:24px" (click)="removeTeam(team)">
          </span>
        </span>
      <!-- </div> -->
    </div>
    <div class="clearfix"></div>

    <i *ngIf="!user.teams || user.teams.length == 0" ><p>No pertenece a ningun equipo.</p></i>
    <!-- <div class="clearfix"></div> -->

    <button type="btn btn-secondary" class="btn float-right" data-toggle="collapse" data-target="#add-team">agregar</button>
    <app-team-table [action]="'list'" (selectedTeam)="addTeam($event)" class="collapse" id="add-team"></app-team-table>
  </div>
  
</div>

</div>
