<div class="col-md-12">

<div class="row">
  <div class="col-centrada loader" *ngIf="loading == 'show'">
    <img src="assets/images/loader.gif" />
  </div>
</div>

<div class="alert alert-success" *ngIf="status=='success'">
  Se han modificado los datos correctamente.
</div>

<div class="alert alert-danger" *ngIf="status=='error'">
  No ha sido posible modificar los datos, refresca la pagina y vuelve a intentarlo.
</div>

<div class="alert alert-danger" *ngIf="status=='duplicated-email'">
  El email ingresado ya esta en uso.
</div>

<form #updateUserForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12" *ngIf="loading == 'hidden'">
		<div class="col-md-6">
			<br/><h4 style="background-color: #e2e6e9; border-radius: 3px; padding: 8px">Datos de usuario</h4>

      <div class="">
				<span><img class="img-thumbnail" default="{{userDefaultImage}}" src="http://localhost:8080/SymApp/symfony/web/uploads/users/{{user.image}}" /><h4>Imagen de perfil</h4></span>
				<p>
					<input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)" />
				</p>
				<div class="progress" style="display: none" id="bar">
					<div id="upload-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
					</div>
				</div>
			</div>

      <div class="form-group">
        <label for="email">Correo</label>
        <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control input" required email />
        <div *ngIf="email.invalid && (email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">Email requerido</div>
          <div *ngIf="email.errors.email">Formato incorrecto</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="newPassword" class="form-control" disabled />
        <div *ngIf="password.invalid && (password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">Email requerido</div>
        </div>
        <input type="checkbox" id="pass-check" (click)="changePassword()"> Cambiar contraseña
      </div>

      <br/>
			<h4 style="background-color: #e2e6e9; border-radius: 3px; padding: 8px">Datos personales</h4>

      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
        <div *ngIf="email.invalid && (email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">Email requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Apellido</label>
        <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname" class="form-control" required />
        <div *ngIf="lastname.invalid && (lastname.touched)" class="alert alert-danger">
          <div *ngIf="lastname.errors.required">Email requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label for="run">Rut</label>
        <input type="text" name="run" #run="ngModel" [(ngModel)]="user.run" class="form-control" />
      </div>

      <div class="form-group">
        <label for="birthDate">Fecha de nacimiento</label>
        <input type="date" name="birthDate" #birthDate="ngModel" [(ngModel)]="user.birthDate" class="form-control" disabled/>
      </div>

      <div class="form-group">
        <label for="nacionality">Nacionalidad</label>
        <input type="text" name="nacionality" #nacionality="ngModel" [(ngModel)]="user.nacionality" class="form-control" />
      </div>

		</div>
    <div class="col-md-12 form-group" style="text-align: center"><input type="submit" value="Actualizar" class="btn btn-success"></div>
  </form>

</div>
