<div class="container" *ngIf="status!='deleted'">
  <hr>
  <div class="d-inline">
    <strong>Club -> Equipos</strong> -> <i>{{name}}</i>
    <div class="float-right">
      <button type="button" class="btn btn-info btn-sm mr-2">Compartir</button>
      <button type="button" class="btn btn-success btn-sm mr-2">Modificar</button>
      <button type="button" class="btn btn-danger btn-sm mr-2" (click)="deleteTeam()">Eliminar</button>
    </div>
  </div>

  <hr>

  <div *ngIf="team">
    <div class="row">
      <div class="col-centrada loader" *ngIf="status == null">
        <img src="assets/images/loader.gif" />
      </div>
    </div>

    <div *ngIf="team">
      <div class="col-md-12 card">
          <div class="row no-gutters" *ngIf="team">
              <div class="col-auto p-3">
                  <img id='team-logo' src="{{storage}}{{team.image}}" class="img-fluid" alt="Imagen equipo" default="assets/images/team-default.png">
              </div>
              <div class="col">
                  <div class="card-block px-2">
                      <h4 class="display-4">{{team.name}}</h4>
                      <p class="card-text">{{team.description}}</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="row p-3">
        <div class="col-md-6 p-0 mt-2">
          <app-user-table
            [role]="'player'"
            [team]="team.id"
            [title]="'Jugadores'">
          </app-user-table>
        </div>

        <div class="col-md-6 p-0 mt-2 pl-2">
          <app-user-table
            [role]="'user'"
            [team]="team.id"
            [title]="'Entrenadores'">
          </app-user-table>
        </div>

      </div>

    </div>
  </div>

</div>

<div class="container" *ngIf="status=='deleted'">
  <div class="alert alert-success mb-4" >
    {{team.name}} a sido eliminado con exito.
  </div>
  <a class="btn btn-primary" role="button" [routerLink]="['/']">Ir a Club</a>
</div>
