/* You can add global styles to this file, and also import other style files */

.main {
	margin-top: 6em;
	margin-left: 2em;
	margin-right: 2em;
}

.alert-danger, .alert-success {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.pointer {
	cursor: pointer;
}

.col-centrada {
	float: none;
  margin: 0 auto;
}

.user-image {
	width: 45px;
	height: 45px;
	/* display: flow-root; */
	overflow: hidden;
	border-radius: 200px;
	/* background-color: yellow; */
}

.user-image img {
	/* margin: 0px;
	padding: 0px; */
	margin-top: -8px;
	margin-left: -8px;
	/* padding-left: -500px; */
	/* margin-left: 12em; */
	width: 45px;
}

.loader {
	width: 16px;
}

.loader img {
	width: 32px;
}

.loader-dots {
	width: 32px;
}

.loader-dots img {
	width: 48px;
}

.img-thumbnail {
  width: 100px;
}
