<div class="container">
  <hr>
  <h1>Lista de Entrenamientos</h1>  
  <hr>
  <a class="btn btn-primary btn-sm mb-2" routerLink="/works/new">Agregar nuevo</a>

  <div class="row" *ngIf="!works">
    <div class="col-centrada loader">
      <img src="assets/images/loader.gif" />
    </div>
  </div>

  <div *ngIf="works">
    <div *ngFor="let work of works">
      <a [routerLink]="['/works', work.id]">{{work.name}}:</a> {{work.description}}
    </div>
    <div *ngIf="works.length == 0">
      <p>Aun no existen Entrenamientos.</p>
    </div>
  </div>
  
</div>
